.Navbar {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  color: white;
  background-color: rgb(203, 38, 99);
  /* background-image: linear-gradient(
    47deg,
    rgb(239, 202, 106),
    rgb(230, 161, 120),
    rgb(191, 115, 149),
    rgb(153, 145, 194),
    rgb(152, 178, 219),
    rgb(132, 193, 195)
  ); */
  background-image: linear-gradient(
    47deg,
    rgb(135, 27, 96),
    rgb(203, 38, 99),
    rgb(236, 95, 103),
    rgb(248, 182, 100),
    rgb(249, 216, 123)
  );
  background-size: 500% 500%;
  animation: BackgroundGradient 30s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 0.4s;
}

.Navbar-link {
  color: white;
  text-decoration: none;
}

.Navbar-logo {
  font-size: 1.6em;
  margin: 0;
}

/* Hamburger styling */
.Navbar-hamburger {
  cursor: pointer;
  position: absolute;
  left: 20px;
}
.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
  width: 32px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Hamburger transition */
.Navbar-hamburger-open {
  transform: rotate(180deg);
}
.Navbar-hamburger-open .hamburger-bar1 {
  transform: rotate(45deg) translate(6px, 7px);
}
.Navbar-hamburger-open .hamburger-bar2 {
  opacity: 0;
}
.Navbar-hamburger-open .hamburger-bar3 {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile Menu */
.Navbar-mobile-menu {
  height: 100vh;
  width: 0;
  padding: 12px 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  /* background-color: #333; */
  background-image: linear-gradient(
    133deg,
    /* rgb(203, 38, 99),
    rgb(236, 95, 103),
    rgb(248, 182, 100) */ #333333,
    #ddd
  );
  color: white;
  transition: 0.4s;
}

.Navbar-mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Navbar-mobile-menu ul li {
}

.Navbar-mobile-menu-active {
  background-color: #333;
}

.Navbar-mobile-menu-active .Navbar-mobile-menu-link {
  color: white;
}

.Navbar-mobile-menu-link {
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #ccc;
  font-size: 1.5em;
  position: relative;
  text-transform: uppercase;
}

/* .Navbar-mobile-menu-link:hover::before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 100%;
  margin: 0 auto;
  background-color: white;
} */

.Navbar-mobile-menu .active {
  color: white;
}

/* Gradient Transition */
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
