.Landing {
  background-color: white;
  height: 3000px;
}

.Landing-CTA {
  height: 750px;
  width: auto;
  background-image: url("../../Img/Cupcakes.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing-CTA-button {
  margin: 0 20px;
  padding: 15px 50px;
  color: white;
  font-size: 1.6em;
  border: none;
  border-radius: 10px;
  background-color: rgb(203, 38, 99);
  background-image: linear-gradient(
    47deg,
    rgb(135, 27, 96),
    rgb(203, 38, 99),
    rgb(236, 95, 103),
    rgb(248, 182, 100),
    rgb(249, 216, 123)
  );
  background-size: 500% 500%;
  animation: BackgroundGradient 30s linear infinite;
  box-shadow: 0 6px rgba(1, 1, 1, 0.8);
}

.Landing-CTA-button:hover {
  transform: translateY(2px);
  box-shadow: 0 4px rgba(1, 1, 1, 0.8);
}

.Landing-CTA-button:active {
  transform: translateY(6px);
  box-shadow: none;
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
